@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

html {
  scroll-behavior: smooth;
}

/* Remove all transitions */
* {
  transition: none !important;
}

:root {
  color-scheme: light;
}

@layer base {
  * {
    @apply border-gray-200;
  }
  body {
    @apply bg-white text-gray-900;
  }
}
